{% extends 'mymusic_home/layout_public.html' %}
{% load static %}

{% block profileSettings %}
<!-- Phần Container ở giữa (chứa các nội dung show ra) -->
<div id="middleContainer" class="col l-6 m-0 c-0 middleContainer">
    <!-- Button Show Song Player -->
    <div id="buttonShowSongPlayerContainer" class="col l-12 m-12 c-12 buttonShowSongPlayerContainer">
        <button class="buttonShowSongPlayer" onclick="ShowSongPlayer()"><span class="material-symbols-outlined">
            arrow_left
        </span></button>
    </div>
    <!-- Button ComeBack -->
    <div class="row buttonComebackInSearch">
        <div class="col l-12 m-12 c-12" >
            <button onclick="history.back()" class="btnBack"><span class="material-symbols-outlined">
                arrow_back
            </span></button>
        </div>
    </div>
    <h1>Settings</h1>
    <div class="row ContainerBtnLogout">
        <div class="col l-12 m-12 c-12">
            <a href="{% url "logout" %}" class="BtnLogout" >LOG OUT</a>
        </div>
    </div>
    </form>
</div>

<!-- Phần Container bên phải (chứa miêu tả nhạc) -->
<div id="rightContainer" class="col l-3 m-0 c-12 rightContainer">
    {% comment %} Song Player {% endcomment %}
    {% comment %} {% block songPlayer %}{% endblock songPlayer %} {% endcomment %}
    {% comment %} end Song Player {% endcomment %}
    <div class="row songPlayedContainer">
        <div id="buttonHideSongPlayerContainer" class="col l-12 m-12 c-12 buttonHideSongPlayerContainer">
            Song Player
            <button id="buttonHideSongPlayer" class="buttonHideSongPlayer" onclick="HideSongPlayer()"><span class="material-symbols-outlined">
                arrow_right
            </span></button>
            <button id="buttonZoomSongPlayer" class="buttonZoomSongPlayer" onclick="buttonZoomSongPlayer()"><span class="material-symbols-outlined">
                zoom_out_map
            </span></button>
        </div>
        {% if thatSongResource %}
            {% for ActivedSong in thatSongResource %}
                    <div id="songPlayedImg" class="col l-12 m-12 c-12 songPlayedImg">
                        <img id="songImg" src="{{ActivedSong.ImageURL}}" alt="Hình của bài {{ActivedSong.name}}">
                    </div>
        
                    <div class="col l-12 m-12 c-12 songPlayedLyrics">
                        <div id="lyrics-content">
                            <h3 style="text-align:center; ">...</h3>
                        </div>
                    </div>
                    <div id="audioSong" class="col l-12 m-12 c-12 songPlayedControl">
                        <audio  id="sourceSong" autoplay controls loop>
                            {% comment %} <source id="sourceSong" src="" type="audio/wav"> {% endcomment %}
                        </audio>
                    </div>
                    <style>
                        /* khai báo hình bài hát */
                        :root{
                            --pseudo-background: url({{ActivedSong.ImageURL}});
                        }
                    </style>
            {% endfor %}
        {% else %}    
            <div id="songPlayedImg" class="col l-12 m-12 c-12 songPlayedImg">
                <img id="songImg" src="{% static "mymusic_home/images/hinhPlayerMusicDefault.jpg" %}" alt="Hình mặc định khi chưa có nhạc phát ...">
            </div>
    
            <div class="col l-12 m-12 c-12 songPlayedLyrics">
                <div id="lyrics-content">
                    <h3 style="text-align:center; ">Chưa có bài nào được phát ...</h3>
                </div>
            </div>
            <div id="audioSong" class="col l-12 m-12 c-12 songPlayedControl">
                <audio  id="sourceSong" autoplay controls loop>
                    {% comment %} <source id="sourceSong" src="" type="audio/wav"> {% endcomment %}
                </audio>
            </div>
            <style>
                /* khai báo hình bài hát */
                :root{
                    --pseudo-background: url({% static "mymusic_home/images/hinhPlayerMusicDefault.jpg" %});
                }
            </style>
        {% endif %}
    </div>
</div>

{% comment %} CSS bổ sung {% endcomment %}
<style>
    .buttonComebackInSearch{
        border-bottom: .5px solid #3b3b3c;
        padding: 11px;
    
    }
    .buttonComebackInSearch button{
        float: right;
        border:none;
        background: black;
        padding: 4px;
        border-radius: 8px;
        cursor: pointer;
    }
    .buttonComebackInSearch button:hover{
        background: #3b3b3c;
    }

    .ContainerBtnLogout{
        width: 100%;
    }
    .BtnLogout{
        width: 100%;
        border: none;
        background: black;
        padding: 18px;
        border-radius: 10px;
        cursor: pointer;
        display: block;
        text-align:center;
        text-decoration: none;
    }
    .BtnLogout:hover{
        background: #3b3b3c;
        transition: all .3s;
    }
</style> 
{% endblock profileSettings %}