{% extends 'mymusic_home/layout_public.html' %}
{% load static %}

{% block searchResult %}
<!-- Phần Container ở giữa (chứa các nội dung show ra) -->
<div id="middleContainer" class="col l-6 m-0 c-0 middleContainer">
    <!-- Button Show Song Player -->
    <div id="buttonShowSongPlayerContainer" class="col l-12 m-12 c-12 buttonShowSongPlayerContainer">
        <button class="buttonShowSongPlayer" onclick="ShowSongPlayer()"><span class="material-symbols-outlined">
            arrow_left
        </span></button>
    </div>
    <!-- Button ComeBack -->
    <div class="row buttonComebackInSearch">
        <div class="col l-12 m-12 c-12" >
            <button onclick="history.back()" class="btnBack"><span class="material-symbols-outlined">
                arrow_back
            </span></button>
        </div>
    </div>
    <h1>Search result for <span style="color: brown;">{{searched}}</span> ... </h1>

    <div class="row DspBody">
    {% for song in keys %}
        <button data-song={{song.id_song}} data-action="play" class="col l-12 m-12 c-12 DspSong btnSong">
            <div class="row">
                <div class="col l-3 m-3 c-3 DspSongImg">
                    <img src="{{song.ImageURL}}" alt="{{song.name}}">
                </div>
                <div class="col l-9 m-9 c-9 DspSongInfor">
                    <a href="#" style="font-weight:700; font-size: 18px;">
                        {{song.name}}
                    </a>
                    <h5>{{song.id_artist}}</h5>
                    <h6>Người đăng : <span style="font-weight:300;">{{song.id_user}}</span></h6>
                    <h6>Ngày đăng : <span >{{song.create_date}}</span></h6>
                </div>
            </div>
        </button>
    {% endfor %}
    </div>
</div>

<!-- Phần Container bên phải (chứa miêu tả nhạc) -->
<div id="rightContainer" class="col l-3 m-0 c-12 rightContainer">
    {% comment %} Song Player {% endcomment %}
    {% comment %} {% block songPlayer %}{% endblock songPlayer %} {% endcomment %}
    {% comment %} end Song Player {% endcomment %}
    <div class="row songPlayedContainer">
        <div id="buttonHideSongPlayerContainer" class="col l-12 m-12 c-12 buttonHideSongPlayerContainer">
            Song Player
            <button id="buttonHideSongPlayer" class="buttonHideSongPlayer" onclick="HideSongPlayer()"><span class="material-symbols-outlined">
                arrow_right
            </span></button>
            <button id="buttonZoomSongPlayer" class="buttonZoomSongPlayer" onclick="buttonZoomSongPlayer()"><span class="material-symbols-outlined">
                zoom_out_map
            </span></button>
        </div>
        {% if thatSongResource %}
            {% for ActivedSong in thatSongResource %}
                    <div id="songPlayedImg" class="col l-12 m-12 c-12 songPlayedImg">
                        <img id="songImg" src="{{ActivedSong.ImageURL}}" alt="Hình của bài {{ActivedSong.name}}">
                    </div>
        
                    <div class="col l-12 m-12 c-12 songPlayedLyrics">
                        <div id="lyrics-content">
                            <h3 style="text-align:center; ">...</h3>
                        </div>
                    </div>
                    <div id="audioSong" class="col l-12 m-12 c-12 songPlayedControl">
                        <audio  id="sourceSong" autoplay controls loop>
                            {% comment %} <source id="sourceSong" src="" type="audio/wav"> {% endcomment %}
                        </audio>
                    </div>
                    <style>
                        /* khai báo hình bài hát */
                        :root{
                            --pseudo-background: url({{ActivedSong.ImageURL}});
                        }
                    </style>
            {% endfor %}
        {% else %}    
            <div id="songPlayedImg" class="col l-12 m-12 c-12 songPlayedImg">
                <img id="songImg" src="{% static "mymusic_home/images/hinhPlayerMusicDefault.jpg" %}" alt="Hình mặc định khi chưa có nhạc phát ...">
            </div>
    
            <div class="col l-12 m-12 c-12 songPlayedLyrics">
                <div id="lyrics-content">
                    <h3 style="text-align:center; ">Chưa có bài nào được phát ...</h3>
                </div>
            </div>
            <div id="audioSong" class="col l-12 m-12 c-12 songPlayedControl">
                <audio  id="sourceSong" autoplay controls loop>
                    {% comment %} <source id="sourceSong" src="" type="audio/wav"> {% endcomment %}
                </audio>
            </div>
            <style>
                /* khai báo hình bài hát */
                :root{
                    --pseudo-background: url({% static "mymusic_home/images/hinhPlayerMusicDefault.jpg" %});
                }
            </style>
        {% endif %}
    </div>
</div>

<style>
.buttonComebackInSearch{
    border-bottom: .5px solid #3b3b3c;
    padding: 11px;

}
.buttonComebackInSearch button{
    float: right;
    border:none;
    background: black;
    padding: 4px;
    border-radius: 8px;
    cursor: pointer;
}
.buttonComebackInSearch button:hover{
    background: #3b3b3c;
}
.formsearchInput{
    padding: 10px;
    padding-top: 0px;
}
.searchInput{
    {% comment %} width: 100%; {% endcomment %}
    padding: 10px;
    border-radius: 8px 0px 0px 8px;
    border: none;
    color: black;
}
.formsearchInput .btnSearch{
    background: black;
    border: none;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
}
.formsearchInput .btnSearch:hover{
    background: #3b3b3c;
}

/* CSS Cho Danh Sách Phát trong MiddleContainer */
    .DspContainer{
        border-bottom: .5px solid #3b3b3c;
    }
    .DspContainer .DspHeadContainer{
        padding: 30px;

    }
    .DspContainer .DspHead{

    }
    .DspContainer .DspHead .DspImg{

    }
    .DspContainer .DspHead .DspImg img{
        width: 100%;
        height: 100%;
        border-radius: 6px;
    }
    .DspContainer .DspHead .DspInfor{
        float: left;
        padding-left: 20px;
        justify-content: left;
        align-items: center;
        display: flex;
    }
    .DspBody{
        /* overflow-y: auto;
        overflow-x: hidden; */
        margin-top: 10px;
        padding: 20px;
        padding-left: 0px;
    } 
    .DspBody .DspSong{
        padding: 10px;
        margin: 10px;
        background-color: #252526;
        border-radius: 10px;
    } 
    .DspBody .DspSongInfor a{
        text-decoration: none;
    } 
    .DspBody .DspSongInfor a:hover{
        text-decoration: underline;
    } 
    .DspBody .DspSong .DspSongImg img{
        width: 100%;
        height: 100%;
        border-radius: 6px;
    }    
</style>
{% endblock searchResult %}

